@import './partials/btn.pcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #f8fafb;
  background-color: #1f2027;
  overflow: scroll;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* FORM HTML LABEL ADJUST */
label {
  @apply text-neutral-600;
}

label b {
  @apply text-white transition-all duration-300;
}

*:focus-within ~ label b {
  @apply text-primary;
}

*:autofill ~ label,
*:autofill ~ label b {
  @apply text-black;
}
